// change .env.example to .env 
// add your real data
PORT=your_port_here
NODE_ENV=development
MONGO_URI=your_mongodb_atlas_connection_string_here
REDIS_URL=your_upstash_redis_url_here
RESEND_API_KEY=your_resend_api_key_here
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=your_jwt_expiration_time_here
ADMIN_EMAIL=admin_email_here_to_send_sales_report